@charset "UTF-8";

.btn1 {
	width : 100px;
	height : 100px;
	margin : 10px auto;
	background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); 
	font-weight: bold;
	font-size : 2.0em;
	line-height: 100px;
	text-align: center;
}
.btn2 {
	width : 300px;
	height : 200px;
	margin : 10px auto;
	background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); 
	font-weight: bold;
	font-size : 2.0em;
	line-height: 200px;
	text-align: center;
}

p {
	color: red;
}